header{

text-align: center;

}

body{


background-image: url(https://i.ibb.co/RNZjYrk/imagem-2023-04-04-162636472.png);
background-repeat: no-repeat;
background-size: cover;
background-color: grey;
background-blend-mode: multiply;

}

table{
    text-align: center;
    float: center;
    margin: auto;
    width: 30%;
    top: 50%;

}

.body2{

    background-image: url("C:\Users\sinni\OneDrive\Documentos\UBC\Aplicação Para Internet\Site Forms UBC\white.jpeg");

}

.table2{

    border: 3px solid black;
    border-collapse: collapse;

}


